{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{{header.image_url}}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-10 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>{{header.title}}</h1>
            <span class="subheading">{{header.subtitle}}</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  {% for weed in all_weeds %}
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <h2>
            Common Name
          </h2>
          {% for common_name in weed.weed_common_names %}
            {% if common_name.is_primary == True %}
              <p class="weed-text">
                {{ common_name.common_name }}
              </p>
            {% endif %}
          {% endfor %}
        </div>
      </div>
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <h2>
            Other Common Names
          </h2>
          <p class="weed-text">
            {{ weed.weed_common_names | comma_separated }}
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <h2>
            Scientific Name
          </h2>
          <p class="weed-text scientific-name">
            {{weed.scientific_name}}
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <h2>
            Description
          </h2>
          <p class="weed-text">
            {{ weed.description | safe }}
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <h2>
            Removal Method
          </h2>
          <p class="weed-text">
            {{ weed.removal_method | safe }}
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <h2>
            Comments
          </h2>
          <p class="weed-text">
            {{ weed.comments | safe }}
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <h2>
            Location
          </h2>
          <p class="weed-text">
            {{ weed.location_desc | safe }}
          </p>
          <div class="weed-image">
            <img class="img-fluid" src="{{ url_for('static', filename=weed.location_map) }}"/>
            <div>Weed locations indicated in yellow</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <h2>
            Photos
          </h2>
          <div>
            {% for photo in weed.weed_photos | sort(attribute="display_order") %}
              <div class="weed-image">
                <img class="img-fluid" src="{{ url_for('static', filename=photo.photo_url) }}"/>
                <div>{{ photo.caption | safe }}</div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <hr class="weed-divider"/>
        </div>
      </div>
    </div>
  {% endfor %}

{% include "footer.html" %}